################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Findry/DesignTimeBuild
/.vs/Findry/FileContentIndex
/.vs/Findry
/bin/Debug/net7.0
